{% extends "layout.html" %} {% block content %}
<br>
<br>
<br>

<h2> FICHE PRODUIT </h2>
<hr>
<br>
<h2> {{ post.title }} </h2>
<p> Rédigé par {{ post.author.username }}, le {{ post.date_posted.strftime('%Y-%m-%d') }} </p>
<p> {{ post.content }} </p>
{% if post.author == current_user %}
<div>
    <a class="btn-secondary btn-sm m-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
</div>


<form action="{{ url_for('delete_post', post_id = post.id) }}" method="POST">
    <input class="btn btn-danger" type="submit" value="Delete">

</form>

{% endif %}
{% if current_user.is_authenticated %}
<br>
     <a href="mailto:{{ post.user_id.email }}">Contactez l'hôpital propriétaire</a>
     {% elif post.author != current_user %}
     <h5> Enregistrez-vous pour contacter l'hôpital propriétaire </h5>
{% endif %}
<br>
<br> {% endblock %}
