{% extends "layout.html" %} {% block content %}
<br>
<br>

<h2> BIENVENUE SUR MEDICYCLE </h2>
<hr>
<h5> Un site qui met en relation les hôpitaux du monde francophone : <br> ceux qui possèdent du matériel d'imagerie médicale inutilisé,<br> et ceux qui voudraient lui donner une seconde vie</h5>

<hr>

<br>
<br> {% for post in posts %}
<h2> <a class="post-title" href="{{ url_for('post', post_id=post.id) }}"> {{ post.title }} </a> </h2>
<p> Proposé par {{ post.author.username }}, le {{ post.date_posted.strftime('%Y-%m-%d') }} </p>
<p> {{ post.content }} </p>
{% if current_user.is_authenticated %}
     <a href="mailto:{{ post.user_id.email }}">Contactez l'hôpital propriétaire</a>
{% endif %}
<br>
<br>
<hr>
{% endfor %}
{% endblock %}
